
<form >
    
    <div class="row mainDiv" >
        <div class="col-4"></div>
        <div class="col-4">
           <table class="table" border="1">
               <tr class="trheading">
                   
                   <td>Sl#</td>
                   <td>Medicine</td>
                   <td>Quantity</td>
                   <td>Price</td>
                   <td>Total</td>
                   
               </tr>
               <tbody>
                
                <tr  *ngFor="let result of stockDet;let i=index;" >
                   
                 <td  >{{i+1}}</td>   
               <td >{{result.Medicine}}</td>
              <td>{{result.Quantity}}</td>
               <td>{{result.Price}}</td>
               <td style="text-align: right;"> {{result.Price * result.Quantity}} </td>
               
               
               <button class="ediButton" (click)="updateRow(i,result.Medicine,result.Quantity,result.Price)" >Edit</button>
               <button class="deleteButton" (click)="deleteRow(i)" >Delete</button>
            </tr>
            
                <tr>
                    <td colspan="4" style="text-align:right">Total</td>
                    <td> {{total}}</td>
                  </tr>
            
               </tbody>
           </table>
        </div>
        <div class="col-4"></div>
       
        
    </div>
    </form>
    <form action="">
        <div class="row mainDiv" id="editDiv" style="display: none;" >
            <div class="col-4"></div>
            <div class="col-4">
               <table class="table">
                   <tr class="trheading">
                       
                       
                       <td>Medicine</td>
                       <td>Quantity</td>
                       <td>Price</td>
                       
                   </tr>
                   <tbody>
                    <tr >
                       <input type="hidden"  name="txthidden" id="" [(ngModel)]="indexNum" >
                     <td >
                         <input type="text" name="Medicine" id="" [(ngModel)]="Medicine">
                     </td> 
                     <td >
                        <input type="text" name="Quantity" id="" [(ngModel)]="Quantity">
                    </td> 
                    <td >
                        <input type="text" name="Price" id="" [(ngModel)]="Price">
                    </td>   

                    
                   <button class="btnUpdate" (click)="editMedicine(indexNum,Medicine,Quantity,Price)" >update</button>
                   </tr>
                   </tbody>
               </table>
            </div>
            
        </div>
    
    
    
    </form>